#!/usr/bin/env bash
################################################################################
# My daemons : http://svaksha.github.io/abhr
# UPDATED: Mon 02 Mar 2015 11:43:52 IST 
################################################################################

[user]
	name = "SVAKSHA ॥ स्वक्ष ॥ "
	email = svaksha@gmail.com

[alias]
    br = branch
    cm = commit
    co = checkout
	ga = git add
    gb = git branch
    gc = git commit -v
    gd = git diff
    get = git 
    got = git 
    gs = git status
    gx = gitx --all
    last = log -1 HEAD
	sr = svn rebase
    st = status
    unstage = reset HEAD --
    visual = !gitk

 	
[color]
	# Use colors in Git commands that are capable of colored output when
	# outputting to the terminal. Default setting in Git ≥ 1.8.4
	#---------------------------------------------------------------------------
	branch = true
	diff = true
	interactive = auto
	pager = true
	status = true
	ui = true
    
    [color "branch"]
	current = blue 
	local = red
	remote = green

    [color "diff"]
	meta = yellow
	old = cyan      # for deletions
	new = green     # all additions
 
    [color "status"]
    added = green
    changed = red bold
    untracked = magenta bold

[buildout]
    extensions = mr.developer
    
[core]
	# Use custom `.gitignore_global` and `.gitattributes`
	#---------------------------------------------------------------------------	
	attributesfile = ~/.gitattributes	
    excludesfile = ~/.gitignore_global

[commit]
    template = ~/.gitmessage

[diff]
	# Detect copies as well as renames
	#---------------------------------------------------------------------------	
	renames = copies
	
[gitlab]
	user = svaksha

[github]
	user = svaksha

[grep]
    linenumber = true

[help]
	# Autocorrect and execute mistyped commands
	#---------------------------------------------------------------------------
	autocorrect = 1
	
[http]
	sslVerify = false

[push]
	default = simple


