[user]
	name = SVAKSHA ॥ स्वक्ष 
	email = svaksha@gmail.com
	
[alias]
	last = log -1 HEAD
    co = checkout
    br = branch
    ci = commit
    st = status
    unstage = reset HEAD --
    visual = !gitk
	
[color]
	# Use colors in Git commands that are capable of colored output when
	# outputting to the terminal. Default setting in Git ≥ 1.8.4
	#---------------------------------------------------------------------------
	ui = auto

[color "branch"]
	current = blue 
	local = red
	remote = green

[color "diff"]
	meta = yellow
	old = cyan       # for deletions
	new = green     # all additions

[core]
	# Use custom `.gitignore` and `.gitattributes`
	#---------------------------------------------------------------------------	
	excludesfile = ~/.gitignore
	attributesfile = ~/.gitattributes	

[diff]
	# Detect copies as well as renames
	#---------------------------------------------------------------------------	
	renames = copies
	
[help]
	# Autocorrect and execute mistyped commands
	#---------------------------------------------------------------------------
	autocorrect = 1
	
[http]
	sslVerify = false

[push]
	default = simple

