###############################################################################
# Author: SVAKSHA, 2006Apr01 | Updated: 2015nov13
###############################################################################

*.log

# Whitelist the folder && Recursively whitelist its contents
# ----------------------------------------------------------
!.vim/**


#====================================================
# DVCS
#====================================================
*.git
