###############################################################################
# Author: SVAKSHA, Dates: 2006apr01-Present
###############################################################################

# Whitelist the folder && Recursively whitelist its contents
# ----------------------------------------------------------
!.vim/**
!Makefile

# Ignore the following
# ----------------------------------------------------------
*.directory
HOME/.directory
*.log
pvt*/*
PRIVATE/*


#====================================================
# DVCS
#====================================================
*.git


#--------------------
# julia
#--------------------
*.jl.cov
*.jl.*.cov
*.jl.mem
deps/deps.jl

