# -*- coding: utf-8 -*-
###############################################################################
# Author: SVAKSHA, 2006APR01 | Updated: 2015APR29
###############################################################################


#====================================================
# DVCS
#====================================================
*.git
*.hg
.hgignore

# DATA folders
#----------------------------------------------------
**/datum
5vksh/*
datum/**




