################################################################################
# NAME       : .gitconfig
# DESCRIPTION: Configuration file for GIT, save as ~/.gitconfig to use.
# AUTHOR     : SVAKSHA, http://svaksha.com/pages/Bio
# SOURCE     : http://svaksha.github.io/yaksha
# COPYRIGHT© : 2005-Now SVAKSHA, All Rights Reserved.
# LICENSE    : GNU AGPLv3 subject to meeting the terms and conditions in the LICENSE
#              (https://github.com/svaksha/yaksha/blob/master/LICENSE.md) file.
# LICENSE    : GNU AGPLv3 subject to meeting the terms and conditions in the LICENSE
#              (https://github.com/svaksha/yaksha/blob/master/LICENSE.md) file.
# DATES      : 2009feb16 - 2017feb02
################################################################################
#

[user]
	name = SVAKSHA
	email = svaksha@gmail.com
	mail  = svaksha@gmail.com

[alias]
# moved all alias bindings to `bash_alias` file - one file to handle them all!

[color]
	# Use colors in Git commands that are capable of colored output when
	# outputting to the terminal. Default setting in Git ≥ 1.8.4
	#---------------------------------------------------------------------------
	branch      = true
	diff        = true
	interactive = true
	pager       = true
	status      = true
	ui          = true
    
    [color "branch"]
	current = cyan bold
	local   = cyan bold
	remote  = yellow bold

    [color "diff"]
	frag = cyan bold
	meta = green bold
	old  = yellow       # for deletions
	new  = green bold   # all additions
 
    [color "status"]
    added     = cyan bold
    changed   = green bold
    untracked = yellow bold 

    [color "default"] 
    cursor       = green
    date         = cyan 
    delimiter    = blue 
    line-number  = yellow bold
    diff-header  = yellow 
    diff-index   = blue 
    diff-chunk   = green bold
    graph-commit = cyan 
	    
[core]
    repositoryformatversion=0
    filemode=true
    bare=false
    logallrefupdates=true
    ignorecase=true
	#------------------------------
	# Use custom `.gitignore_global` and `.gitattributes`
	#------------------------------
	attributesfile = ~/.gitattributes	
	excludesfile   = ~/.gitignore_global
	#------------------------------
	# Prevent showing files whose names contain non-ASCII symbols as unversioned.
    # REF: http://michael-kuehnel.de/git/2014/11/21/git-mac-osx-and-german-umlaute.html
	#------------------------------
    precomposeunicode = false

[diff]
	# Detect copies as well as renames
	renames = copies

[grep]
    linenumber = true

[help]
	# Autocorrect and execute mistyped commands
	autocorrect = 1
	
[http]
	sslVerify = false

[push]
#	default = nothing
    default = tracking

    
#-------------------------------------------------------------------------------	
# GIT-LFS
# Install the .deb file for git-lfs from https://github.com/github/git-lfs.git
#-------------------------------------------------------------------------------	
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge %f
	required = true


#+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
# GitLab
#+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
[gitlab]
	user = svaksha

#+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
# BitBucket
#+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
[bitbucket]
	user = svaksha

#+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
# GitHub
#+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
[github]
	user = svaksha

[url "git@github.com:"]
    insteadOf = "gh:"
    pushInsteadOf = "github:"
    pushInsteadOf = "git://github.com/"
    
[url "git://github.com/"]
    insteadOf = "github:"
    
[url "git@gist.github.com:"]
    insteadOf = "gst:"
    pushInsteadOf = "gist:"
    pushInsteadOf = "git://gist.github.com/"

[url "git://gist.github.com/"]
    insteadOf = "gist:"

[gist]
    browse = true
    private = true

# Julia "Pkg dependence on git://"
#--------------------------------------
[url "https://"]
	insteadOf = git://


#+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
# Heroku
#+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
[url "git@heroku.com:"]
    insteadOf = "heroku:"



