################################################################################
# @svaksha <3 devilish dotfile daemons : http://svaksha.github.io/5vaksha
# Author: SVAKSHA, 2009FEB16 || UPDATED: 2015APR29
# COPYRIGHT © 2007-Now [SVAKSHA](http://svaksha.com/pages/Bio) All Rights Reserved.
# LICENSE :: [GNU AGPLv3](http://www.gnu.org/licenses/agpl-3.0.html) or later version.
# Permission is hereby granted, free of charge, to any person obtaining a copy 
# of this software and associated documentation files (the "Software"), to deal 
# in the Software without restriction, including without limitation the rights 
# to use, copy, modify, merge, publish, distribute, sublicense, and/or sell 
# copies of the Software, and to permit persons to whom the Software is 
# furnished to do so, subject to the following conditions: ALL copies of this 
# work and repository forks must retain the Copyright, LICENSE(.md) notice and 
# this permission notice in substantial portions of the software. 
# See the [LICENSE.md](https://github.com/svaksha/5vaksha/blob/master/LICENSE.md) file.
################################################################################
#

[user]
	name = "SVAKSHA ॥ स्वक्ष ॥ "
	email = svaksha@gmail.com

[alias]
	g         = git
    get       = git 
    got       = git 
	ga        = git add
    gb        = git branch
    gc        = git commit -v
    gd        = git diff
    gs        = git status
    ci        = commit
    cia       = commit -a
    cim       = commit -m
    ciam      = commit -a -m
    co        = checkout
    gx        = gitx --all
# too many alias acronyms, need to cleanup and re-order this cheatsheet
    cm        = commit
    last      = log -1 HEAD
	svnrb     = svn rebase
    st        = status
    unstage   = reset HEAD --
    visual    = !gitk
    dstat     = diff --stat
    diffclr   = diff --color-words
    diffw     = diff -w
    diffx     = diff -w --color-words
    pff       = pull --ff-only
    mff       = merge --ff-only
    st        = status
    logg      = log --graph --decorate
    logpretty = log --graph --pretty=oneline --abbrev-commit --decorate
    logtime   = log --format='%C(yellow)%h %Cgreen%an %Cblue%ar %Creset- %s'
    lcmit     = log --graph --decorate --pretty=oneline --abbrev-commit
    logall    = log --graph --decorate --pretty=oneline --abbrev-commit --all
    loggraph  = log --all --graph --decorate
    logrefs   = log --all --graph --decorate --oneline --simplify-by-decoration --no-merges
    loglocal  = log --oneline origin..HEAD
    logfetch  = log --oneline HEAD..origin/master
    detach    = checkout HEAD^0
    hdiff     = diff HEAD~
    cont      = rebase --continue
    abort     = rebase --abort

[color]
	# Use colors in Git commands that are capable of colored output when
	# outputting to the terminal. Default setting in Git ≥ 1.8.4
	#---------------------------------------------------------------------------
	branch = true
	diff = true
	interactive = true
	pager = true
	status = true
	ui = true
    
    [color "branch"]
	current = cyan bold
	local   = cyan bold
	remote  = red bold

    [color "diff"]
	frag = cyan bold
	meta = green bold
	old  = yellow       # for deletions
	new  = green bold   # all additions
 
    [color "status"]
    added     = magenta bold
    changed   = green bold
    untracked = yellow bold 

    [color "default"] 
    cursor       = magenta
    date         = cyan 
    delimiter    = red 
    line-number  = yellow bold
    diff-header  = yellow 
    diff-index   = blue 
    diff-chunk   = magenta 
    graph-commit = cyan 
	    
[buildout]
    extensions = mr.developer
    
[core]
	# Use custom `.gitignore_global` and `.gitattributes`
	#---------------------------------------------------------------------------	
	attributesfile = ~/.gitattributes	
	excludesfile   = ~/.gitignore_global

    # Prevent showing files whose names contain non-ASCII symbols as unversioned.
    # http://michael-kuehnel.de/git/2014/11/21/git-mac-osx-and-german-umlaute.html
	#---------------------------------------------------------------------------	
    precomposeunicode = false

[diff]
	# Detect copies as well as renames
	#---------------------------------------------------------------------------	
	renames = copies
	
[bitbucket]
	user = svaksha
[gitlab]
	user = svaksha
[github]
	user = svaksha

[grep]
    linenumber = true

[help]
	# Autocorrect and execute mistyped commands
	#---------------------------------------------------------------------------
	autocorrect = 1
	
[http]
	sslVerify = false

[push]
	default = nothing


################################################################################
# .tigrc = Configuration file for tig
# Tig is an ncurses-based text-mode interface for git.
# http://jonas.nitro.dk/tig/tigrc.5.html
# https://github.com/jonas/tig
###############################################################################
[tig] 
  show-changes = true
[tig "color"] 
  cursor         = yellow red bold
  cursor         = white black
  status         = blue default
  title-focus    = white blue
  date           = yellow default
  author         = green default
  main-head      = magenta default
  main-tag       = magenta default
  stat-staged    = green default
  stat-unstaged  = red default
  stat-untracked = yellow default

[tig "tree"]
  header    = white default
  directory = cyan default

[tig "bind"] 
  generic               = P parent
  diff-context          = 1
  filename-width        = 21
  id-width              = 21
  blame-options         = -C -C -C
  horizontal-scroll     = 50%
  read-git-colors       = no # yes
  show-line-numbers     = yes
  line-graphics         = utf-8
  line-number-interval  = 5
  author-width          = 14
  show-author           = full
  show-filename         = always
  show-date             = local
  show-file-size        = units
  show-notes            = yes
  show-refs             = true #yes
  show-id               = yes
  show-rev-graph        = yes
  show-changes          = yes
  vertical-split        = yes
  split-view-height     = 70%
  status-untracked-dirs = yes
  tab-size              = 4
  ignore-space          = some
  commit-order          = topo
  ignore-case           = no
  wrap-lines            = no
  focus-child           = yes
  mouse                 = true
  
[tig "view"] 
    blame-view = \
                date:default \
                author:full \
                file-name:auto \
                id:yes,color \
                line-number:yes,interval=5 \
                text
    grep-view = \
                file-name:yes \
                line-number:yes,interval=1 \
                text
    # Main view column things.
    #----------------------------------
    main-view = \
                line-number:yes,interval=5 \
                id:yes date:default \
                author:full \
                commit-title:yes,graph,refs \
                overflow=no
    refs-view = \
                date:default \
                author:full ref commit-title
    stash-view = \
                line-number:yes,interval=5 \
                id:no \
                date:default \
                author:full \
                commit-title:yes
    status-view = \
                line-number:yes,interval=5 \
                status:short file-name
    tree-view = \
                line-number:yes,interval=5 mode \
                author:full file-size \
                date:default \
                id:no file-name


