#!/usr/bin/env bash
################################################################################
# My daemons : http://svaksha.github.io/abja
# COPYRIGHT © 2007-Now [SVAKSHA](http://svaksha.com/pages/Bio) All Rights Reserved.
# LICENSE :: [GNU AGPLv3](http://www.gnu.org/licenses/agpl-3.0.html) or later version.
# Permission is hereby granted, free of charge, to any person obtaining a copy 
# of this software and associated documentation files (the "Software"), to deal 
# in the Software without restriction, including without limitation the rights 
# to use, copy, modify, merge, publish, distribute, sublicense, and/or sell 
# copies of the Software, and to permit persons to whom the Software is 
# furnished to do so, subject to the following conditions:
# ALL copies of this work and repository forks must retain the Copyright, 
# LICENSE(.md) notice and this permission notice in substantial portions of the software. 
# See the [LICENSE.md](https://github.com/svaksha/abja/blob/master/LICENSE.md) file.
# UPDATED: Mon 02 Mar 2015 07:19:56 IST 
################################################################################

[user]
	name = "SVAKSHA ॥ स्वक्ष ॥ "
	email = svaksha@gmail.com

[alias]
    br = branch
    cm = commit
    co = checkout
	ga = git add
    gb = git branch
    gc = git commit -v
    gd = git diff
    get = git 
    got = git 
    gs = git status
    gx = gitx --all
    last = log -1 HEAD
	sr = svn rebase
    st = status
    unstage = reset HEAD --
    visual = !gitk

 	
[color]
	# Use colors in Git commands that are capable of colored output when
	# outputting to the terminal. Default setting in Git ≥ 1.8.4
	#---------------------------------------------------------------------------
	branch = true
	diff = true
	interactive = auto
	pager = true
	status = true
	ui = true
    
    [color "branch"]
	current = blue 
	local = red
	remote = green

    [color "diff"]
	meta = yellow
	old = cyan      # for deletions
	new = green     # all additions
 
    [color "status"]
    added = green
    changed = red bold
    untracked = magenta bold

[buildout]
    extensions = mr.developer
    
[core]
	# Use custom `.gitignore_global` and `.gitattributes`
	#---------------------------------------------------------------------------	
	attributesfile = ~/.gitattributes	
    excludesfile = ~/.gitignore_global

[commit]
    template = ~/.gitmessage

[diff]
	# Detect copies as well as renames
	#---------------------------------------------------------------------------	
	renames = copies
	
[gitlab]
	user = svaksha

[github]
	user = svaksha

[grep]
    linenumber = true

[help]
	# Autocorrect and execute mistyped commands
	#---------------------------------------------------------------------------
	autocorrect = 1
	
[http]
	sslVerify = false

[push]
	default = simple


